body {
    background-color: #E0E0E0ff;
}

p {
    padding-top: 20px;
    text-align: center;
    color: #4285F4;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 85vw;
    margin: auto;
}

img:hover {
    transform: scale(3);
}

.generate {
    background-color: #4285F4;
    color: white;
}

.generate:hover {
    background-color: white;
    color: #4285F4;
}

.generate:active {
    background-color: #00008B;
    color: #4285F4;
}